.hts {
  color: white;

  display: flex;
  justify-content: space-between;

  padding-left: 130px;
  padding-right: 130px;

  margin-bottom: 200px;

  &__block {
    align-self: center;
    position: relative;
  }

  &__line {
    align-self: center;
  }

  &__circle{
    display: block;
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;

    margin-bottom: 30px;
  }

  &__text {
    position: absolute;
  }
}