@use "../../UI/colors.scss" as *;
@import "../../UI/Text.scss";

.button {
  all: unset;
  display: block;
  text-align: center;
  border-radius: 44px;
  padding: 10px 40px;
  @include regularText;
  transition: .5s;
  box-sizing: border-box;

  transform-origin: center;


  &_white {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &_transparent {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }

  &_gold {
    background-color: $gold;
    color: black;
    border: 1px solid $gold;
  }

  &_goldTransparent {
    background-color: transparent;
    color: $gold;
    border: 1px solid $gold;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 42px -20px rgba(255,255,255,1);
  }
}