@use "../../../UI/colors.scss" as *;
@import "../../../UI/Text.scss";

.navigate {
  position: absolute;
  top: 50%;
  right: 0px;

  transform: translate(5%, -50%);
  

  &__block {
    background-color: $green;
    @include regularText;
    font-size: 32px;
    font-weight: 500;

    width: 200%;
    padding: 50px 50px;
    padding-left: 30px;
    border-radius: 196px;

    &_active {
      background-color: $yellow;
      color: black;
      transform: translate(-10%, 0%);
    }
    transform: translate(5%, 0%);
    
    transition: transform .5s;

    &:hover {
      cursor: pointer;
    }
  }
}