.App {
}

.App-header {
  background-color: #00192c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  padding: 0 50px;
}
html {
  position: relative;
  min-height: 100%;
  background-color: black;
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-enter-active {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
}
.page-transition-enter-active,
.page-transition-exit-active {
  transition: opacity 0.44s;
}
